.gradient-warm {
    height: 100vh;
    background: linear-gradient(214.8deg, #FFBF75 12.91%, #FF367E 87.51%);
    background-size: cover;
}


#header-user-community {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;

    color: #FFFFFF;
}

.center {
    text-align: center;
}


#text-user-community {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    color: #FFFFFF;
}

#button-user-community {
    width: 278px;
    height: 47px;


    background: #FFFFFF;
    border-radius: 25px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FF006B;
}


#img-circular-up {
    width: 130px;
    height: 130px;
    border-radius: 85px;
}


.svg-icon {
    width: 2em;
    height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #000;
}

.svg-icon circle {
    stroke: #000;
    stroke-width: 1;
}

input[type=text] {
    border: none;
    border-bottom: 2.5px solid #a1a1a1;
    font-family: Roboto;
    font-size: 16px;
    text-align: center;

    width: 350px;
    height: 25px;
}

input[type=email] {
    border: none;
    border-bottom: 2.5px solid #a1a1a1;
    font-family: Roboto;
    font-size: 16px;
    text-align: center;

    width: 350px;
    height: 25px;
}

.text-form {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #fff;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}

.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}

.form-radio:hover
{
     background-color: #f7f7f7;
}

.form-radio:checked
{
     background-color: #15C299;
}

label
{
     font: 15px/1.7 'Open Sans', sans-serif;
     color: #333;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     cursor: pointer;
} 

p.msg-form {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}


.submit-button-form {
    width: 278px;
    height: 47px;

    border: 1px solid #45D6B3;
    border-radius: 25px;
   -webkit-appearance: none;
    background: #45D6B3;

    
    font-family: Roboto;
    font-size: 20px;
    color: #fff
}
