.gradient-warm {
    height: 100vh;
    background: rgb(219,43,106) fixed #A8BFAD;;
    background: linear-gradient(0deg, rgba(219,43,106,1) 37%, rgba(223,176,73,1) 100%) fixed #A8BFAD;;
    background-size: cover;
}


#header-user-community {
    position: absolute;
    width: 300px;
    height: 83px;
    left: 36px;
    top: 45px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;
}


#text-user-community {
    position: absolute;
    width: 299px;
    height: 495px;
    left: 38px;
    top: 160px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}

#button-user-community {
    position: absolute;
    width: 278px;
    height: 47px;
    left: 49px;
    top: 723px;

    background: #FFFFFF;
    border-radius: 25px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FF006B;
}

.container-svg-icon-back {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 5px;
    top: 45px;
}


.container-svg-icon-up {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 173px;
    top: 45px;
}

#img-circular-up {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 122px;
    top: 152px;

    background: url(12376843_1023777191043033_6631672907787240693_n.png);
    border-radius: 85px;
}


.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #000;
}

.svg-icon circle {
  stroke: #000;
  stroke-width: 1;
}